.scoreboard {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    align-items: start;
    padding-top: 50px;
    color: var(--main-font-color);
    -webkit-text-stroke: 1px var(--black);
}

.scoreboard__player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreboard__score {
    font-size: 104px
}

.scoreboard__name {
    font-size: 52px;
}

@media (width <= 768px), (height <= 1024px) {

    .scoreboard__score {
        font-size: 74px
    }

    .scoreboard__name {
        font-size: 42px;
    }
}

@media (width <= 480px) {

    .scoreboard__score {
        font-size: 52px
    }

    .scoreboard__name {
        font-size: 32px;
    }
}